{% extends 'base.html.twig' %}

{% block title %}Exchange Money Form{% endblock title %}
{% block body %}
    <div class="container">
        <div class="form-header">
            <h2>Calculate money</h2>
        </div>
        {{ form_start(money_form, {
            'attr': {'id': 'money_form'},
            'action': path('exchange')
        }) }}
            {{ form_errors(money_form) }}
            {{ form_widget(money_form) }}
            <input id="calculate" type="submit" value="Calculate" class="btn btn-info" />
        {{ form_end(money_form) }}

        <div class="results-container">
            <h4>Results</h4>
            <div id="results"></div>
        </div>
    </div>
{% endblock %}